body {
  font-family: "Koulen"; }

.btn-primary, .btn-thirdly {
  background-color: #F4A259;
  border: none; }

.btn-primary:hover, .btn-thirdly:hover {
  background-color: #FF9F4A; }

.btn-thirdly {
  background-color: #519D54; }

.neutral-text {
  color: #F7F7F7; }

.text {
  color: #1E1E1E; }

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  color: #F7F7F7; }

.custom-header {
  background-color: #EE5C4A;
  width: 100%;
  height: 50px; }

.custom-nav {
  background-color: #FF9F4A;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2000; }

.nav-link {
  text-decoration: dashed; }

.hero {
  position: relative; }

.landing-image {
  width: 100%;
  height: auto;
  position: absolute; }

.content {
  width: 100%;
  height: auto;
  padding-bottom: 40px; }

.content-green {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #519D54; }

.wav-devider {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%; }

.footer {
  height: 100px;
  background-color: #EE5C4A; }

.cart {
  background: #F7F7F7;
  width: 70px;
  border-radius: 30px 0 0 30px; }

.cart img {
  margin-left: 20px;
  margin-top: 5px;
  filter: invert(61%) sepia(80%) saturate(3809%) hue-rotate(329deg) brightness(94%) contrast(99%); }

.items {
  width: 100%;
  height: 1000px;
  background-image: url("../images/blob-scatter.svg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #F7F7F7; }

.item {
  max-height: 150px;
  background: #F7F7F7;
  height: auto;
  margin: auto;
  color: #1E1E1E;
  border-radius: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.item img {
  border-radius: 26px 0px 0px 26px; }

.cat {
  display: flex;
  flex-direction: column;
  gap: 5px; }

.background-2 {
  background-image: url("../images/blob-scatter.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  min-height: 100vh; }

.login-form-secondary {
  background-color: #D8D8D8; }

.toggle-signup {
  border-radius: 0px 5px 0px 0px;
  border: 0px;
  background-color: #D8D8D8; }

.toggle-login {
  border-radius: 5px 0px 0px 0px;
  border: 0px;
  background-color: white; }

.order-sum {
  height: 100vh;
  background-color: #F4A259;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-image: url("../images/blob-scatter-inverted.svg");
  background-size: cover;
  background-position: left; }

.order-sum ul {
  height: 70vh; }

.order-sum .basket {
  height: 70vh; }

.list-group-item {
  background: none;
  border-left: none;
  border-right: none; }

.remove-basket-item {
  border: 1px solid #d22d45;
  border-right: none;
  width: 18px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  background-color: #d22d45; }

.remove-basket-item:hover {
  transition: all 0.2s;
  width: 40px; }

.order-sum hr {
  margin: 0; }

.basket-qty {
  color: #D8D8D8; }

.minus {
  opacity: 0;
  display: none; }

.remove-basket-item:hover .minus {
  display: contents;
  opacity: 1; }

.minus i {
  margin: 2px; }

.remove-basket-item:hover .fa-plus-minus {
  display: none; }

.checkout-sum {
  min-height: 60vh;
  max-height: 90vh;
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  background-color: #fff; }

.checkout-payment {
  min-height: 60vh;
  max-height: 90vh; }

.checkout-payment-choice {
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  height: auto;
  background-color: #fff; }

.checkout-payment-details {
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  width: 100%;
  background-color: #fff; }

.checkout-sum h2 {
  color: #1E1E1E; }

.numberCircle {
  border-radius: 50%;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #1E1E1E;
  color: #1E1E1E;
  text-align: center; }

.checkout-background {
  background-image: url("../images/green-wavy-devider.svg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
