html{
  overflow-x: hidden;
}
body{
  font-family: "Koulen";
}
.shadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rd-normal{
  border-radius: 20px;
}

.btn-dark{
  background-color: #1E1E1E;
  color: #F7F7F7;
  border: none;
}

.btn-dark:hover{
  background-color: #3b3b3b;
}

.btn-primary{
  background-color: #F4A259;
  border:none;
}

.btn-primary:hover {
  background-color: #FF9F4A;
}
.btn-thirdly{
  @extend .btn-primary;
  background-color: #519D54;
}
.neutral-text{
  color:#F7F7F7;
}

.text{
  color:#1E1E1E
}
.navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  color:#F7F7F7;


}
.custom-header{
  background-color: #EE5C4A;
  width:100%;
  height:50px;

}
.custom-nav{
  background-color: #FF9F4A;
  width:100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index:2000;
}
.nav-link{
  text-decoration: dashed;
}

.hero{
  position: relative;
}
.landing-image{
  width:100%;
  height:auto;
  position: absolute;
}
.content{
width: 100%;
height: auto;
padding-bottom: 40px;
}

.content-green{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #519D54;
}
.wav-devider{
  margin-bottom: 0;
  position: absolute;
  bottom:0;
  width:100%;
}
.wav-devider-bottom{

}

.footer{
  height:100px;
  background-color: #EE5C4A;
}

.cart{
  background: #F7F7F7;
  width:70px;
  border-radius: 30px 0 0 30px;
}

.cart img {
  margin-left:20px;
  margin-top: 5px;
  filter: invert(61%) sepia(80%) saturate(3809%) hue-rotate(329deg) brightness(94%) contrast(99%);
} 

.items{
  width: 100%;
  height: auto;
  min-height: 1000px;
  background-color: #f9e5d4;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23ff9f4a' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
  text-align: center;
  color:#1E1E1E;
  
}

.item{
  max-height: 150px;
  background: #F7F7F7;
  height:auto;
  margin:auto;
  color:#1E1E1E;
  border-radius: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item img{
  border-radius: 26px 0px 0px 26px;
}

.cat {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category{
  background-color: #F7F7F7;
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  max-width: 500px;
}
.category a{
  text-decoration: none;
  color: #1E1E1E;
}
.background-2{
  background-image: url('../images/blob-scatter.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100vw;
  height:auto;
  min-height:100vh;
}

.login-form-secondary{
  background-color:#D8D8D8 ;
}

.toggle-signup{
  border-radius: 0px 5px 0px 0px;
  border: 0px;
  background-color: #D8D8D8;
}

.toggle-login{
  border-radius: 5px 0px 0px 0px;
  border: 0px;
  background-color: white;
}

.order-sum{
  background-color: #F7F7F7;
  color: #1E1E1E;  
  height:100vh;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: left;
}

.order-sum ul{
  height:70vh;
}

.order-sum .basket{
  height:70vh;
}

.list-group-item{
  background: none;
  border-left: none;
  border-right: none;
}

.remove-basket-item{
  border: 1px solid #d22d45;
  border-right:none;
  width:18px;
  margin: 0;
  border-radius: 10px 0 0 10px;
  background-color: #d22d45;
}

.remove-basket-item:hover{
  transition: all 0.2s;
  width:40px;
}
.order-sum hr{
  margin:0;
}

.basket-qty{
  color:#1E1E1E;
}

.minus{
  opacity: 0;
  display: none;
}

.remove-basket-item:hover .minus{
  display: contents;
  opacity: 1;
}

.minus i{
  margin: 2px;
}

.remove-basket-item:hover .fa-plus-minus{
  display: none;
}

.checkout-sum{
  min-height:60vh; 
  max-height: 90vh;
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  background-color: #fff;
}

.checkout-payment {
  min-height:60vh; 
  max-height: 90vh;
  
}
.checkout-payment-choice{
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  height:10vh;
  background-color: #fff;
}
.checkout-payment-details{
  border: 2px solid #1E1E1E;
  border-radius: 26px;
  width:100%;
  background-color: #fff;
}
.checkout-payment-details h4{
  padding-left:8px;
}


.checkout-sum h2{
  color: #1E1E1E;
}

.numberCircle {
  border-radius: 50%;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #1E1E1E;
  color: #1E1E1E;
  text-align: center;
  line-height: 2%;
}

.checkout-background{

  background-color: #f0e2d5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23f4a259' fill-opacity='0.23' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width:100vw;
  height:100vh;

}

.scroll-container {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.pay-radio{
  height:3em;
  border:none;
}

.form-check-input + label img{
  padding:5px;
}

.form-check-input:checked + label img {
  background-color: #aad3ab;
  border-radius: 15px;
}

input[type="time"] {
  border: none;
}

.closed-banner{
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}